* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Roboto', sans-serif;
}
body {
  background: #eee;
  padding: 0 16px;
}

header {
  background-color: #FF006C;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  text-align: center;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 98%;
  height: 2.5rem;
}

footer p {
  color: #ccc;
}

.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}

.note h1 {
  font-size: 16px;
  margin-bottom: 6px;
  letter-spacing: 0.04em;
}

.note p {
  font-size: 14px;
  margin-bottom: 10px;
  line-height: 1.5;
  white-space: pre-wrap;
  word-wrap: break-word;
}

form {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}

form input, form textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 16px;
  font-family: inherit;
  resize: none;
}

form button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #FF006C;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
  transition: 0.3s all ease-in-out;
}

form button:hover{
  background-color: black;
}

.note button {
  float: right;
  margin-right: 10px;
  color: #FF006C;
  border: none;
  font-size: 12px;
  background-color: #fff;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
}

